body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  background-color: red;
}

.col-9 {
  background-color: green;
}

.col-3 {
  background-color: red;
}

.post-list {
  list-style: none;
  padding-left: 0;
  font-size: 12px;
}

/*
.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
*/

.post-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}